# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Files
**/.DS_Store

# Python
**/__pycache__
.venv

# Becnchmark files
./benchmarks


# CLion
.idea
cmake-build-debug
cmake-build-release

# benchmarks
benchmarks

# mip log
mip.log
